<ion-view title="Updates">
	<ion-content class="padding">
		<a class="item" style="padding:30px" ng-click="open_twitter()"><img style="height:40px;vertical-align:middle; padding-right:10px;" src="img/twitter-logo.png"/>Twitter Feed</a>
		<a class="item" style="padding:30px" ng-click="open_instagram()"><img style="height:40px;vertical-align:middle; padding-right:10px;" src="img/instagram-logo.png"/>Instagram Feed</a>
		<a class="item" style="padding:30px" ng-click="open_facebook()"><img style="height:40px;vertical-align:middle; padding-right:10px;"  src="img/facebook-logo.png"/>Facebook Feed</a>
		
		<!-- <h4>Notifications</h4>
		<div class="row" ng-repeat="notification in notifications">
			<div class="col">{{ notification.get('content') }}</div>
		</div> -->

	</ion-content>
</ion-view>